table {
    border-collapse: collapse;
    border: 1px solid gray;
}

th {
    padding: 10px;
    /*border: 1px solid gray;*/
    vertical-align: top;
}

td {
    padding: 10px;
    /*border: 1px solid gray;*/
    vertical-align: top;
}


a:link {
    color: #2d2d2d;
}

td > a:visited {
    color: #515b63;
}

td > a:hover {
    color: #7b7b7b;
}

.table-label {
    text-align: center;
}

.ref-btn {
    background-color: #343a40
}

.success {
    color: #28a745;
}

.error {
    color: #dc3545;
}


